{% extends 'basic.html' %}
{%block title%} Home | MASUM {%endblock%}
{% block homeactive %} active {% endblock %}

{% load static %}

{% block body %}
{% load humanize %}

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center shadow-lg">


        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-light">MASUM RAHMAN
            </h1> <br>
            <h5 class="display-9 fw-bold lh-1 text-danger">DIGITAL MARKETING STRATIGISTS
            </h5> <br>
            <p class="lead">I am a digital marketing expert, making and
                doing marketing planning like brand
                campaigns, social media optimization, and
                other digital marketing planning
                </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                
            </div>
        </div>
        <div class="col-lg-4 shadow-lg">
            <img class="rounded-lg-6" src="/static/img/aboutme.svg/" alt="" width="400px">
        </div>

    </div>


    <div class="b-example-divider"></div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
          
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2 class="fw-bold text-warning">PROFESSIONAL EXPERIENCE
                </h2>
               
                <ul>
                    
                    <style>
                        h4{
                            background: #08090ea8;
                            padding: 10px;
                            border-radius: 25px;
                            width: max-content;
                            color: linear-gradient(to right, #cac531, #f3f9a7);
                            font-family: 'Poppins', sans-serif;
                        }
                    </style>
                    <li><h4 class="fw-bold ">Social Media Manager</h4> 
                       
                        <b >Kazimir Investment (2020-2021) </b> <br>
                      <p>
                        Handling social media campaign and
                        Managing team to handling social media
                        time line upload
                      </p>  
                    </li>
                    <li><h4 class="fw-bold ">Social Media Management</h4> 
                       
                        <b >The Real Estate Union (2021-2022) </b> <br>
                      <p>
                        Managing oversees Company digital
                        marketing strategies to reach more client
                        in website and social media
                        
                      </p>  
                    </li>
                    <li><h4 class="fw-bold ">Creative Corner
                    </h4> 
                       
                        <b >Creative Corner
                            (2021-Present) </b> <br>
                      <p>
                        As a Project Manager at our digital
                        marketing agency, I oversee campaign
                        planning, execution, and client
                        communication, ensuring seamless
                        delivery of SEO, SEM, social media, and
                        content marketing services.

                      </p>  
                    </li>
                    
                    
                    
                </ul>
            </div>
        </div>
       
     
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-dark border rounded-3">
                <h2 class="fw-bold text-warning">ACHIEVEMENTS </h2>
               
                <ul>
                    <li><h6 class="fw-bold ">14 June 2022
                    </h6> 
                      <p>
                        Social Media Marketing
                        Certificate From HubSpot
                      </p>  
                    </li>
                    <li><h6 class=" ">23 June 2022

                    </h6> 
                      <p>
                        Digital Marketing SEO Toolkit
                        Exam Certificate From
                        Semrush

                      </p>  
                    </li>
                    <li><h4 class="fw-bold ">
                    </h4> 
                      <p>
                        4 month training in Digital
                        Marketing from Ram IT
                      </p>  
                    </li>
                  
                    
                    
                    
                </ul>
            </div>
        <!-- <div class="h-100 p-5 bg-body-dark border rounded-3">
                <h2>Add borders</h2>
                <p>
                    Bachelor of Science in Marketing | ABC University | Graduated May 2019 <br>

                    Continuously adapting to the dynamic digital landscape, I am passionate about delivering measurable
                    results and staying ahead in the ever-evolving world of digital marketing. I am eager to bring my
                    skills, creativity, and strategic mindset to drive success for future clients and contribute to the
                    growth of innovative marketing initiatives.
                </p>
                <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>-->
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-dark border rounded-3">
                <h2 class="fw-bold text-warning">TOP SKILLS </h2>
               
                <ul>
                    <li><h4 class="fw-bold ">Social Media marketing </h4> </li>
                    <li><h4 class="fw-bold ">Data entry & Lead Genaration </h4> </li>
                    <li><h4 class="fw-bold ">Canva designer</h4> </li>
                    <li><h4 class="fw-bold ">Profile optimization </h4> </li>
                    <li><h4 class="fw-bold ">Content Creation and Optimization </h4> </li>
                    <li><h4 class="fw-bold ">Keyword Research </h4> </li>
                    <li><h4 class="fw-bold ">Search Engine Optimization (SEO) </h4> </li>
              
                    
                </ul>
            </div>
           
        </div>
       
     
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2 class="fw-bold text-warning"> EDUCATION
                </h2>
               
                <ul>
                    
                    <style>
                        h4{
                            background: #08090ea8;
                            padding: 10px;
                            border-radius: 25px;
                            width: max-content;
                            color: linear-gradient(to right, #cac531, #f3f9a7);
                            font-family: 'Poppins', sans-serif;
                            font-size: 20px;
                        }
                    </style>
                    <li><h4 class="fw-bold ">Bachelor Degree of Marketing and
                        Business</h4> 
                       
                        <b >Bachelor of Social Science (B.S.S.)</b> <br>
                      <p>
                        National University Completed in 2020
                      </p>  
                    </li>
                    <li><h4 class="fw-bold ">Higher Secondary
                        Certificate (HSC)
                        </h4> 
                       
                        <b >Bachelor of Economics,
                            Commerce Group, Rajshahi
                            Board
                             </b> <br>
                      <p>
                        Completed in 2016

                        
                      </p>  
                    </li>
                    <li><h4 class="fw-bold ">Secondary School Certificate (SSC)

                    </h4> 
                       
                        <b >
                            Arts Group, Rajshahi Board </b> <br>
                      <p>
                        Completed in 2014

                      </p>  
                    </li>
                    
                    
                    
                </ul>
            </div>
      
        </div>
    </div>


</div>





{%endblock%}